.TextoNegrita {font-family: tahoma, verdana, sans-serif; font-weight: bold; font-size: 12px; }
.TextoSencilla {font-family: tahoma, verdana, sans-serif; font-size: 12px; }
.bgrande{
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px

}

/*--- Barra de herramienta Utilizada en el arhivo cfg.php ----*/
#barraHerrammienta {
	position:absolute;
	left:599px;
	top:-2px;
	width:377px;
	height:31px;
	z-index:1;

}

.bgrande{
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px

}


/*----mensaje enviando ajax----*/
#loadingMsg {
	position:absolute;
	left:400px;
	top:217px;
	width:251px;
	height:100px;
	z-index:1;
	background-image: url(../../temas/iconos/loading.gif);
   background-repeat: no-repeat;
   background-position: 50% 50%;
	font-family: tahoma, verdana, sans-serif; font-size: 12px;
}

/*----validacion de formulario ----*/
.fValidator-form fieldset {
	border: 1px White;
	padding: 10px;
}

.fValidator-form legend {
padding: 0 5px;
}

.fValidator-form input, select {
	font-family: Arial;
	color: Gray;
}
.fValidator-form input {
	padding: 2px;
	border: 1px solid #FF9900;
}

.full {width: 100%;}
.half {width: 50%; vertical-align: top;}

.fValidator-msg {
	background-color: #FF6666;
	font-size: 85%;
	color: #fff;
	padding: 5px;
}

/*quitar los bordes a las imagenes */
img {
border: none;
}

/*- Menu Tabs 4--------------------------- */

    
    #tabs4 {
      float:left;
      width:100%;
      font-size:93%;
      line-height:normal;
          border-bottom:1px solid #6B78A9;
      }
    #tabs4 ul {
          margin:0;
          padding:0px 0px 0 50px;
          list-style:none;
      }
    #tabs4 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs4 a {
      float:left;
      background:url("tableft4.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 7px;
      text-decoration:none;
      }
    #tabs4 a span {
      float:left;
      display:block;
      background:url("tabright4.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#6B78A9;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs4 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs4 a:hover span {
      color:#6B78A9;
      }
    #tabs4 a:hover {
      background-position:0% -42px;
      }
    #tabs4 a:hover span {
      background-position:100% -42px;
      }

      #tabs4 #current a {
              background-position:0% -42px;
      }
      #tabs4 #current a span {
              background-position:100% -42px;
      }
/* ----------Fin Tabs---------*/


/*comeinzo de la  maquetacion de la pagina*/

:link {
	TEXT-DECORATION: none
}
:visited {
	TEXT-DECORATION: none
}


BODY {
	MARGIN: 10px;
	WIDTH: 620px;
	FONT: 62.5%/140% Verdana, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: center;
}
#header {
	WIDTH: 750px;
	HEIGHT: 50px;
}
#navigation {
	MARGIN-TOP: 10px; WIDTH: 750px; HEIGHT: 40px; BACKGROUND-COLOR:transparent;
}
#barra {
	MARGIN-TOP: 10px; WIDTH: 750px; HEIGHT: 10px;
}


#content {
	MARGIN-TOP: 10px;
	MIN-HEIGHT: 350px;
	WIDTH: 750px;
	HEIGHT: 450px;
	BACKGROUND-COLOR: transparent;
}
#footer {
	MARGIN-TOP: 10px; WIDTH: 750px; HEIGHT: 10px ; 
	
	}
/*fin maquetacion*/


/* mensajes para mostrar al usuario */
.mensajeAzul {
	BORDER-RIGHT: #ccf 1px solid;
	PADDING-RIGHT: 0.8em; 
	BACKGROUND-POSITION: 10px 50%; 
	BORDER-TOP: #ccf 1px solid; 
	PADDING-LEFT: 35px;  
	PADDING-BOTTOM: 0.8em; 
	BORDER-LEFT: #ccf 1px solid; 
	PADDING-TOP: 0.8em; 
	BORDER-BOTTOM: #ccf 1px solid; 
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #efe

}

DIV.tip {
	PADDING-RIGHT: 1em; BACKGROUND-POSITION: 10px 50%; BORDER-TOP: #32cd32 2px solid; 
	PADDING-LEFT: 40px; BORDER-LEFT-COLOR: #32cd32; 
	PADDING-BOTTOM: 1em; MARGIN: 1em 2em; PADDING-TOP: 1em; BORDER-BOTTOM: #32cd32 2px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ebffce; BORDER-RIGHT-COLOR: #32cd32;
   background-repeat: no-repeat;
   background-position: 30% 50%;
}
DIV.info {
	PADDING-RIGHT: 1em;
	BORDER-TOP: #32cd32 2px solid;
	PADDING-LEFT: 40px;
	BORDER-LEFT-COLOR: #32cd32;
	PADDING-BOTTOM: 1em;

	MARGIN: 1em 2em;
	PADDING-TOP: 1em;
	BORDER-BOTTOM: #32cd32 2px solid;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-COLOR: #ebffce;
	BORDER-RIGHT-COLOR: #32cd32;
	background-position: 50% 50%;
}

DIV.error {
	PADDING-RIGHT: 1em;
	BACKGROUND-POSITION: 10px 50%;
	BORDER-TOP: 2px solid #FF003A;
	PADDING-LEFT: 40px;
	BORDER-LEFT-COLOR: #32cd32;
	PADDING-BOTTOM: 1em;
	MARGIN: 1em 2em;
	
	PADDING-TOP: 1em;
	BORDER-BOTTOM: 2px solid #FF003A;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-COLOR: #FFD4D7;
	BORDER-RIGHT-COLOR: #32cd32;
}

DIV.nota {
	PADDING-RIGHT: 1em; BACKGROUND-POSITION: 10px 50%; BORDER-TOP: #32cd32 2px solid; PADDING-LEFT: 40px; BORDER-LEFT-COLOR: #32cd32; BACKGROUND-IMAGE: url(lightbulb.gif); PADDING-BOTTOM: 1em; MARGIN: 1em 2em; PADDING-TOP: 1em; BORDER-BOTTOM: #32cd32 2px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ebffce; BORDER-RIGHT-COLOR: #32cd32
}
DIV.info {
	BORDER-LEFT-COLOR: #87cefa; BACKGROUND-IMAGE: url(information.gif); BORDER-BOTTOM-COLOR: #87cefa; BORDER-TOP-COLOR: #87cefa; BACKGROUND-COLOR: #eef9fd; BORDER-RIGHT-COLOR: #87cefa
}
DIV.nota {
	BORDER-LEFT-COLOR: #ffd700; BACKGROUND-IMAGE: url(error.gif); BORDER-BOTTOM-COLOR: #ffd700; BORDER-TOP-COLOR: #ffd700; BACKGROUND-COLOR: #fff5e1; BORDER-RIGHT-COLOR: #ffd700
}
/*fin mensajes*/



A {
	FONT-WEIGHT: bold; COLOR: #0a83bf
}
A:hover {
	COLOR: #262626; TEXT-DECORATION: underline
}
P {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 10px
}
UL {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 10px
}
OL {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 10px
}
P UL {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
P OL {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
UL P {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
UL UL {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
UL OL {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
OL P {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
OL UL {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
OL UL {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
LI {
	PADDING-BOTTOM: 6px
}

FORM {
	PADDING-BOTTOM: 8px
}
INPUT {
	FONT-SIZE: 0.8em; VERTICAL-ALIGN: middle; COLOR: #262626; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 1.1em; VERTICAL-ALIGN: middle; COLOR: #262626; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 1.1em; VERTICAL-ALIGN: middle; COLOR: #262626; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DL {
	PADDING-BOTTOM: 10px
}
DT {
	CLEAR: left; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 60px
}
DD {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 6px; MARGIN-LEFT: 70px
}
TABLE {
	FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0px
}
TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
TD {
	BORDER-BOTTOM: #e6eef2 1px solid
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #356; BORDER-BOTTOM: #ced5d9 1px solid
}

.titulo {
	color: #666666;
	font-size: 24px;
}

.tituloazul {
	color: #006699;
	font-size: 190%;
}

.fondoAzul {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #e1effa; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}

.requerido {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 1px; FONT: bold 92% arial, sans-serif; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-LEFT: #999 1px solid; COLOR: #555; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
}

DIV.ontenedor {
	FLOAT: left; MARGIN-BOTTOM: 15px; WIDTH: 555px; WORD-WRAP: break-word
}

/*estilo para los botones*/
input.btnazul{
   BORDER-RIGHT: #666 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 84%; BORDER-LEFT: #999 1px solid; COLOR: #333; BORDER-BOTTOM: #666 1px solid; FONT-FAMILY: 'trebuchet ms',helvetica,sans-serif ;
 PADDING-RIGHT: 10px; 
 PADDING-LEFT: 10px; 
 PADDING-BOTTOM: 5px; 
 PADDING-TOP: 5px
   }

INPUT.btnverde {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 84%; BORDER-LEFT: #999 1px solid; COLOR: #333; BORDER-BOTTOM: #666 1px solid; FONT-FAMILY: 'trebuchet ms',helvetica,sans-serif;
 PADDING-RIGHT: 10px; 
 PADDING-LEFT: 10px; 
 PADDING-BOTTOM: 5px; 
 PADDING-TOP: 5px
}

/*este el gradiente para los botones solo para internet expolorer */
INPUT.btnazul {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffaaaaff'); BACKGROUND-COLOR: #ccf
}
INPUT.btnverde {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffaaddaa'); BACKGROUND-COLOR: #cec
}

/*este es el mouseover delos botones*/
input.btnhov{
   border-top-color:#c63;
   border-left-color:#c63;
   border-right-color:#930;
   border-bottom-color:#930;}

/* ventanas en el index */
.groupWrapper {
	MIN-HEIGHT: 400px; FLOAT: left; WIDTH: 32%; MARGIN-RIGHT: 1%
}
.serializer {
	CLEAR: both
}
.groupItem {
	MARGIN-BOTTOM: 20px
}
.groupItem .itemHeader {
	/*
BORDER-RIGHT: #c5d7ef 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #7aa5d6 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 110%; PADDING-BOTTOM: 2px; BORDER-LEFT: #c5d7ef 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #c5d7ef 1px; BACKGROUND-COLOR: #e5ecf9
*/
	PADDING-RIGHT: 10px;
	BORDER-TOP: 2px solid #6699CC;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	CURSOR: move;
	COLOR: #000;
	LINE-HEIGHT: 28px;
	PADDING-TOP: 0px;
	POSITION: relative;
	HEIGHT: 3px;
	background-color: #99CCCC;
}


.groupItem .itemHeader A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; RIGHT: 9px; POSITION: absolute; TOP: 0px; TEXT-DECORATION: none
}
.sortHelper {
	BORDER-RIGHT: #666 3px dashed; BORDER-TOP: #666 3px dashed; BORDER-LEFT: #666 3px dashed; WIDTH: auto! important; BORDER-BOTTOM: #666 3px dashed
}
.groupWrapper P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 1px
}
/*fin de ventanas */


.texto {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #fff8cc; PADDING-BOTTOM: 2px; MARGIN: 0px 3px -1px -2px; PADDING-TOP: 4px; BORDER-BOTTOM: #ffe222 1px solid
}

.texto2 {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	BACKGROUND: #9DBBF1;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 3px -1px -2px;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: 1px solid #00008B;
}
.texto3 {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	BACKGROUND: #d8dfea;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 3px -1px -2px;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: 1px solid #ccc;
	border-top: 1px solid #3b5998;
}                                               
