.ventana-modal-cerrar {
	cursor				: pointer;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 10px;
	vertical-align		: middle;
}

.ventana-modal-barra {
	text-align			: right; 
	width				: 100%; 
	border-bottom		: 2px solid #000000;
}

.ventana-modal-fondo[class] {
	background-image	: url(../img/fondo.png);
}

.ventana-modal-sombra[class] {
	background-image	: url(../img/fondo.png);
}

.ventana-modal-ventana {
	background			: #ffffff;
	border				: 2px solid #000000;
	width				: 100%;
	height				: 100%;
}