#ideas { width: 20px; height: 20px; float: right; border: none; cursor: pointer;
	background: url(../images/ideas.png) top left no-repeat;
	*background: none;
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ideas.png', sizingMethod='scale');
}
#ideas span { clear: both; display: block; }

.ideaTip ul { list-style-type: none; width: 100px;}
.ideaTip ul li { float: left; clear: both; background: #f8f4ca; display: block; }
.ideaTip ul li.top, .ideaTip ul li.bottom { float: left; clear: both; overflow: hidden; height: 6px; width: 100px; }
.ideaTip ul li.top { 
	background: url(../images/idea_top.png) top left no-repeat;
	*background: none;
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/idea_top.png', sizingMethod='crop');
	}
.ideaTip ul li.bottom { 
	background: url(../images/idea_bottom.png) top left no-repeat;
	*background: none;
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/idea_bottom.png', sizingMethod='crop');
	}
.ideaTip ul li a { color: #bb9c61; width: 75px; padding: 3px 5px 3px 20px; display: block; font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; border-bottom: 1px solid #f0e9bc; }
.ideaTip ul li a:hover { background-color: #fdfadc; color: #bb9c61;}
.ideaTip ul li a.last { border-bottom: none;}

.ideaTip a.ideaStarbox { background: #f8f4ca url(../images/idea_icon_starbox.gif) top left no-repeat; }
.ideaTip a.ideaStarbox:hover { background: #fdfadc url(../images/idea_icon_starbox.gif) top left no-repeat; }
.ideaTip a.ideaPrototip { background: #f8f4ca url(../images/idea_icon_prototip.gif) top left no-repeat; }
.ideaTip a.ideaPrototip:hover { background: #fdfadc url(../images/idea_icon_prototip.gif) top left no-repeat; }
.ideaTip a.ideaLightview { background: #f8f4ca url(../images/idea_icon_lightview.gif) top left no-repeat; }
.ideaTip a.ideaLightview:hover { background: #fdfadc url(../images/idea_icon_lightview.gif) top left no-repeat; }