
body {
  margin:0;
  padding:0;
  overflow: hidden;
  background-position: center;

}         

#dock {
	position: absolute;
	bottom: 3px;
	left: 1px;
	width: 988px;
	height: 31px;
	z-index: 100000;
}       

.dock_icon {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	float: left;
	width: 102px;
	height: 21px;
	margin-top: 3px;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	margin-right: 10px;
	margin-left: 10px;
	/*background: url(../../../../boton.gif);*/
	border-bottom: thin solid White;
	border-left: thin solid White;
	border-right: thin solid White;
	border-top: thin solid White;
	color: White;
}       

#theme {       
  float:right; 
  margin-top:3px;
  margin-right:15px;
}

#bg {
width:400px;
height:100px;
background:url(../PWC-OS/leaf.gif) repeat;
}


#transbox {
	width: 300px;
	margin: 0 350px;
	background-color: Black;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;

}


#transbox * {
position: relative;
}


#transbox div {
	padding: 3px;
	font-weight: bold;
	height: 20px;
	color: White;
	/* border-bottom: 1px solid White;
	border-left: 1px solid White;
   border-right: 1px solid White;*/
}
.tooltip {
  width: 150px;
  color: #fff;
  }
.tooltip .title { 
  background: #0F6788; 
  font: italic 17px Georgia, serif; 
  padding: 5px;
  }
.tooltip .content { 
  background: dodgerblue; 
  font: 11px Arial, Helvetica, sans-serif; 
  padding: 5px;
  }