.tabOn, .tabOff, .tabHover
{
	width:100px;
	height:20px;
	position:absolute;
	border:1px solid;
	border-bottom:none;
	cursor:pointer;
	text-align:center;
    color: blue;
}

.tabOn { z-index:2; background-color:#000000; }

.tabOff { z-index:0; background-color:#CCFFFF; }

.tabHover { background-color:#000000; }
#tab1 { left:0px; }

#tab2 { left:110px; }

#tab3 { left:220px; }

#tab4 { left:330px; }

#tab5 { left:440px; width: auto; }

#tab6 { left:570px; width: auto; }

#tabContenido
{
	padding:10px;
	position:absolute;
	top:20px; left:0px;
	border:0px solid;
	width:800px;
	height:400px;
	z-index:1;
}

#demo { overflow:auto; height:500px; width:900px; position:relative; border:0px solid; }