table{
	border-left: 1px solid #FFFF00; 
	border-bottom: 1px solid #FFFF00; 
	margin-left:auto;
	margin-right:auto;
	width:600px;
	background-color:#FFFFCC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000066;
}
table a{
	text-decoration:none;
	cursor:pointer;
}
td { 
	padding-top:2px; 
	padding-bottom:2px;
	border-top: 1px solid #FFFF00; 
	border-right: 1px solid #FFFF00;
	padding-left:10px;
	padding-right:10px;
	color:#666666;
}
.encabezado{
	background-color:#FFCC00;
}
.encabezado_selec{
	background-color:#FF9900;
}
.filas_selec{
	background-color:#FFFF99;
}