div#feature_list {
  height: 240px;
  overflow: hidden;
  position: relative;
}

div#feature_list ul {
  position: absolute;
  top: 0;
  list-style: none;	
  padding: 0;
  margin: 0;
}

div#feature_list h3 {
  margin: 0;	
  padding: 7px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
}

ul#tabs {
  left: 0;
  z-index: 2;
  width: 230px;
}

ul#tabs li {
  font-size: 10px;
  font-family: Arial;
}

ul#tabs li img {
  padding: 5px 5px 5px 0;
  border: none;
  float: left;
  margin: 0;
}

ul#tabs li a {
  color: #222;
  text-decoration: none;	
  display: block;
  padding: 10px 34px 10px 10px;
  height: 60px;
  outline: none;
  background:transparent;
}

ul#tabs li a:hover {
  text-decoration: underline;
}

ul#tabs li a.current {
  background:  url('images/featured/feature-tab-current.png') right center;
  color: #FFF;
}

ul#tabs li a.current:hover {
  text-decoration: none;
  cursor: default;
}

ul#output {
  right: 0;
  width: 441px;
  height: 240px;
  position: relative;
}

ul#output li {
  position: absolute;
  width: 441px;
  height: 240px;
}

ul#output li a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 11px;
  color: #FFF;
  background: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

ul#output li a:hover
{
  background: #FFFFFF;
  color:#000000;
}