/**
 * WP-TagTip for Wordpress
 *
 * @link		http://www.coders.me/
 * @copyright	2009-2010 Eduardo Daniel Sada. All Rights Reserved.
 *
 */

span.relatedspan
{
  border-bottom:1px dotted #000;
  color:#000;
  cursor:pointer;
  background:#F2F8F9;
  padding:0 3px
}

.tooltiprelated
{
  text-align:left;
}

.tooltiprelated h1
{
  font-weight:bold;
  font-size: 12px;
  color: #000;
  margin: 0 0 8px 0;
  padding:0;
  text-align:left;
}

.tooltiprelated p
{
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:0.8em;
  font-weight:normal;
  color:#000;
  margin:0;
  padding:0 0 8px 0;
  line-height:1.2em;
}

.tooltiprelated ul
{
  list-style:none;
  margin:0;
  padding:0;
}

.tooltiprelated ul li
{
  clear:both;
}

.tooltiprelated ul li a
{
  background:#fff;
  font-weight:bold;
  font-size:13px;
  line-height:28px;
  text-decoration:none;
  display:block;
  padding:4px;
  height:56px;
  overflow:hidden;
}

.tooltiprelated ul li a:hover
{
  background:#f6f6f6;
}

.tooltiprelated ul li a span
{
  font-size:10px;
  color:#ccc;
  text-decoration:underline;
}

.tooltiprelated ul li a img
{
  background:white;
  border:1px solid #CCCCCC;
  float:left;
  padding:3px;
  margin:0 4px 0 0;
}