/*
Theme Name: Coders.me Social Theme
Theme URI: http://wordpress.org/
Description: The original WordPress theme that graced versions 1.2.x and prior.
Version: 2.0
Author: Eduardo Sada
*/


/* *** In valid code we trust *** */
* { padding:0; margin:0; }
ul,ol{ list-style:none; }

body
{
	background:#343026;
	font-size: 13px;
	font-family: Verdana, SunSans-Regular, Sans-Serif;
	color:#000;
	padding:0px;
	margin:0px;
}

a img {
	border:0px;
	outline: none;
}

a
{
  background: #edede1;
  color: #00b0d8;
  font-weight:bold;
  padding:0 1px;
  text-decoration:none;
}

a:hover
{
  color: #8eb40d;
  background: #f5f5e8;
}

.hide
{
  display:none;
}

.clearfix
{
  clear:both;
}

.left
{
  text-align:left;
}

.right
{
  text-align:right;
}

.center
{
  text-align:center;
}

div#wraper
{
  width:968px;
  margin:0 auto;
}

div#container
{
  background:#fff;
  width:968px;
}

div#header
{
  background:#fff;
  height:86px;
  padding:8px 10px 0;
  position:relative;
}

div#header a
{
  cursor:pointer;
  padding:0;
  background: transparent;
  color: #00b0d8;
  font-weight:bold;
  text-decoration:none;
}

div#header a:hover 
{
  color: #8eb40d;
}

.headerbottom
{
  background:#00b0d8;
  height:28px;
  text-align:right;
  color:#fff;
  font-size:11px;
  padding:0 10px;
  line-height:28px;
}

.headerbottom a
{
  color:#fff;
  background:none;
}

.headerbottom a:hover
{
  text-decoration:underline;
}

.headerbottompremium
{
  background:#ffe00c;
  color:#000;
}

.headerbottompremium a
{
  color:#000;
}

div#logo span
{
  display:none;
}

div#logo 
{
  background: url(images/logo.png) no-repeat;
  width:299px;
  height:78px;
}

ul#menu
{
  background:#fff;
  display:inline;
  float:right;
  height:28px;
  padding:0 16px;
  margin:23px 0 0;
}

ul#menu li
{
  display:inline;
  float:left;
}

ul#menu li a
{
  background:#fff;
  color:#555555;
  font-size:11px;
  float:left;
  text-decoration:none;
  height:20px;
  padding:5px 12px 3px;
}

ul#menu li a:hover
{
  background:#EDEDE1;
  color:#000;
}

ul#menu li.current-cat a
{
  background:#00b0d8 url('images/arrow_collapse.gif') no-repeat 10px center;
  padding-left:24px;
  padding-right:0px;
}

ul#menu ul li a
{
  background:#EDEDE1;
}

ul#menu ul li a:hover
{
  background:#E4E4D3;
  color:#000;
}

div#ad
{
  background:#F5F5E8;
  padding:10px;
  width:638px;
  height:240px;
  float:left;
  margin:0 10px 10px;
}

div#ad h1
{
  font-size:20px;
  text-align:center;
}

.bannerpost
{
  background:#edede1;
  padding:10px 10px 5px;
}

.adpost
{
  font-family: Verdana, SunSans-Regular, Sans-Serif;
  font-size:12px;

  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;

  margin-right:10px;
  width:300px;
}

.adpost a
{
  font-size:10px;
}

.adpost span.readmorered a
{
  color:#eb0c55;
}

.adpost span.readmore a
{
  color:#00b0d8;
}

.adpost h1,
.adpost h1 a
{
  background:none;
  color:#555555;
  font-size:12px;
  font-weight:bold;
  line-height:14px;
}

.adpost h1 a:hover
{
  background:#f5f5e8;
}

div.estampilla 
{
  background:#deded2;
  width:48px;
  height:48px;
  float:left;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  border:5px solid #deded2;

  margin:0 5px 5px 0;
  padding:0px;
}

div.estampilla a
{
  background:none;
  padding:0;
}

div.estampilla a img
{
  background:none;
}

.indexsidebar
{
  width:636px;
  height:130px;
  background: #fff;
  border:1px solid #edede1;
  margin:0 10px 10px 0;
  padding:10px;
  clear:left;
}


div#paginador
{
  background:#edede1;
  padding:5px;
  margin:0 10px 10px;
  text-align:center;
  width: 638px;
  height:52px;
  clear:left;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  border:5px solid #EDEDE1;

}

div#paginador ul li span
{
  display:none;
}

div#paginador ul
{
  display:table;
  margin:0 auto;
}

div#paginador ul li
{
  display:table-cell;
  vertical-align:top;
  background-position:center;
  width:45px;
  height:52px;
}

div#paginador ul li a
{
  display:block;
  width:45px;
  height:52px;
}

div#paginador ul li.pag_izquierda a{
  background:url(images/paginador_izquierda.png) no-repeat top;
}
div#paginador ul li.pag_izquierda a:hover{background-position:bottom;}

div#paginador ul li.pag_derecha a{
  background:url(images/paginador_derecha.png) no-repeat top;
}
div#paginador ul li.pag_derecha a:hover{background-position:bottom;}

div#paginador ul li.pag_arriba a{
  background:url(images/paginador_arriba.png) no-repeat top;
}
div#paginador ul li.pag_arriba a:hover{background-position:bottom;}


div#paginador ul li.pag_izquierda{
  background:url(images/paginador_izquierda.png) no-repeat center;
}

div#paginador ul li.pag_derecha{
  background:url(images/paginador_derecha.png) no-repeat center;
}



div#paginador ul li.disabled a, div#paginador ul li.disabled a:hover{
  background-position:center;
}



div#footer
{
  background:#fff;
  padding:0 10px 10px;
  color:#262626;
  text-align:center;
}

div#footer h2
{
  font-size:13px;
  font-weight:bold;
  margin:4px 0;
}

div#recientes_articulos,
div#recientes_comentarios
{
  background:#EDEDE1;
  float:left;
  text-align:left;
  padding:5px 10px;
  margin-right:10px;
  width:294px;
  height:250px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  border:5px solid #EDEDE1;
}

div#recientes_articulos .adpost,
div#recientes_comentarios .adpost
{
  margin-bottom:10px;
}

#footer .contener
{
  position:relative;
  overflow:hidden;
  height:206px;
}

#TickerForo
{
  overflow:hidden;
  height:206px;
}


div#credits
{
  padding:10px;
  clear:both;
}

div#credits p
{
  margin:0px;
  font-size:11px;
  font-family: Verdana;
  color:#bfbfbf;
}

div#credits a
{
  color:#929292;
}

.minipost
{
  height:46px;
  margin:5px 0;
}

.sidebar .minipost h1,
.sidebar .minipost h1 a
{
  background:none;
  color:#555555;
  font-size:10px;
  font-weight:bold;
  line-height:14px;
}

.sidebar .minipost h1 a:hover
{
  color: #8eb40d;
  background: none;
}

.sidebar .minipost h2,
.sidebar .minipost h2 a
{
  background:none;
  color:#555555;
  font-size:13px;
  font-weight:bold;
  line-height:42px;
}

.sidebar .minipost h2 a:hover
{
  color: #8eb40d;
  background: #f5f5e8;
}


.minipost span.readmorered a
{
  color:#eb0c55;
  background:none;
}

.minipost span.readmore
{
  display:block;
}

.minipost span.readmore a
{
  color:#00b0d8;
  background:none;
}


.minipost div.estampilla 
{
  background:#deded2;
  width:32px;
  height:32px;
  float:left;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  border:2px solid #deded2;

  margin:0 5px 0 0;
  padding:5px;
}

.minipost div.estampilla a
{
  background:none;
  padding:0;
}

.minipost div.estampilla a img
{
  background:none;
}

.minipost div.estampilla:hover
{
  background:#8EB40D;
  border:2px solid #8EB40D;
}








div#sidebar
{
  width:280px;
  float:right;
}

div#sidebar a
{
  padding:0;
}


div#sidebar a.coffee,
.post a.coffee
{
  background: url(images/buy-me-a-coffee.png) no-repeat top;
  display:block;
  margin:0 auto;
  height:63px;
  width:246px;
}

div#sidebar a.coffee:hover,
.post a.coffee:hover
{
  background: url(images/buy-me-a-coffee.png) no-repeat bottom;
}

div#sidebar a.coffee span,
.post a.coffee span
{
  display:none;
}

div#sidebar .premium
{
  display:none;
  background:#EDEDE1;
  padding:10px;
  margin: 0 0 10px;
}

div#sidebar .exclusive
{
  background:#EEFFBD;
  padding:10px;
  margin: 0 0 10px;
}

div#sidebar .register
{
  background:#EEFFBD;
  padding:10px;
  margin: 0 0 10px;
}

div#sidebar .suscribete
{
  background:#EEFFBD;
  padding:10px;
  margin: 0 0 10px;
}

div#sidebar .patrocinados
{
  background:#FDFFBD;
  padding:10px 0 10px 15px;
  margin: 0 0 10px;
  height:567px;
}

.c125
{
  background:#EEEEEE none repeat scroll 0 0;
  float:left;
  width:250px;
  height:250px;
  margin:10px 10px 0 0;
}

div#sidebar .login
{
  background:#DDEEFF;
  padding:10px;
  margin: 0 0 10px;
  text-align:left;
  overflow:hidden;
  font-size:11px;
}

div#sidebar .login a
{
  background:none;
  padding:0;
  outline:0;
  line-height:28px;
}

div#sidebar .login form
{
  margin-top:10px;
}

div#sidebar .login #wp-submit
{
  float:right;
}

div#contenido
{
  background:#fff;
  padding:10px 10px 0;
}


.post
{
  font-family: Verdana, SunSans-Regular, Sans-Serif;
  font-size:12px;
  line-height:17px;
  padding:10px;

  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;

  border: 1px solid #edede1;
  width: 302px;
  margin-right:5px;
  margin-bottom:10px;
}

.post h1,
.post h1 a
{
  background:none;
  color:#555555;
  font-size:15px;
  font-weight:bold;
  line-height:20px;
}

.post h1 a:hover
{
  background:#f5f5e8;
}

.post h2,
.post h3
{
  font-size: 12px;
  border-bottom:1px dotted #8FB325;
  color:#8FB325;
  margin-bottom:6px;
}

.post a
{
  background: #f2f8f9;
  color: #00b0d8;
  font-weight:bold;
  padding:0 1px;
  text-decoration:none;
}

.post a:hover
{
  color: #8eb40d;
  background: #f5f5e8;
}

.post span.post_info
{
  display:block;
  font-size:10px;
}

.post span.post_info a
{
  background:none;
  color:#8fb325;
}

.post span.post_info a:hover
{
  background: #f5f5e8;
  color: #00b0d8;
}

.post span.comments
{
  background: url(images/icon-comments.gif) no-repeat left 3px;
  padding-left:16px;
  float:right;
}

.post span.autor_info
{
  display:block;
}



.post div.estampilla 
{
  background:#edede1;
  width:72px;
  height:72px;
  float:left;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  border:5px solid #edede1;

  margin:0 5px 5px 0;
  padding:0px;
}

div.estampilla a
{
  background:none;
  padding:0;
}

div.estampilla a img
{
  background:none;
}

.post p
{
  margin:0 0 10px 0;
}

.post acronym,
.post abbr
{
	border-bottom: 1px dotted #A2AA9F;
	color: #D2D6D1;
	padding: 0;
	margin: 0;
	cursor: help;
}



#contenido .post ul,
#contenido .post ol
{
  padding-bottom:13px;
}

#contenido .post ul li,
#contenido .post ol li
{
  background:transparent url(images/PostContentLiIco.png) no-repeat scroll left 3px;
  color:#303030;
  list-style-type:none;
  padding:4px 0px 2px 15px;
}

.single
{
  width:636px;
  border:0;
}

.single h2,
.single h3
{
  font-size: 14px;
}

.single p img
{
  clear:both;
}

.empujartitulo
{
  height:92px;
}

blockquote
{
  background:#edede1 url(images/blockquote.png) no-repeat 0 0;
  border-color:#8eb40d;
  border-style:solid;
  border-width:1px 1px 1px 10px;
  color:#665954;
  margin:10px 0;
  padding:10px;
  display:block;
  clear:left;
}

.adsense
{
  width:336px;
  height:280px;
  float:right;
  margin:0 0 10px 10px;
  clear:both;
}


.post span.readmore
{
  display:block;
  text-align:right;
}


.post div.empujar
{
  min-height:265px;
}

.first
{
  width: 636px;
}

.first div.empujar
{
  min-height:170px;
}

.lista
{
  display:block;
  width:636px;
  height:58px;
}

.lista div.estampilla
{
  width:48px;
  height:48px;
}








div#guardarycompartir
{
  background:#EDEDE1 url('images/es/compartir.png') no-repeat 10px 5px;
  margin:10px;
  padding:50px 10px 10px;
  color:#262626;
  text-align:left;
  width:636px;
  height:48px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

div#guardarycompartir a
{
  font-weight:normal;
  margin:0 12px 5px 0;
  float:left;
  display:inline;
}

div#guardarycompartir img
{
  display:block;
}




div#comments
{
  margin:10px;
  width:656px;
}

div.comentario
{
  background: #EDEDE1;
  padding:10px;
  margin:10px 0;
  font-size:13px;
  font-family: "Segoe UI", Verdana, Arial;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

div.comentario p
{
  margin:0 0 11px 0;
}

div.comentario a
{
  background:none;
}

.comment-meta
{
  font-size:10px;
}

div.oficial
{
  background-color:#eeffbd;
}

div.comentario div.amigo
{
  display:inline;
  width:110px;
  padding:3px;
  margin:0 10px 0 0;
  text-align:center;
}

div.comentario div.amigo a
{
  color:#00B0D8;
  font-size: 16px;
  background:none;
}

div.comentario div.amigo a:hover
{
  background: #f5f5e8;
}

div.comentario div.amigo span a
{
  font-weight:normal;
  font-size:12px;
  color:#8FB325;
}

div.comentario div.amigo span a:hover
{
  background: #f5f5e8;
}

div.comentario div.amigo .fn,
div.comentario div.amigo .fn a
{
  font-size:13px;
  color:#8FB325;
}

ul.children
{
  margin-left:7%;
}

.navigation  a
{
  display:inline;
  padding:10px;
  margin:0 0 10px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.navigation .alignleft a
{
  float:left;
}

.navigation .alignright a
{
  float:right;
}



div.contener-respond
{
  width:656px;
  margin:10px;
  clear:left;
}

div#respond
{
  background:#EDEDE1 url('images/es/comentar.png') no-repeat 10px 5px;
  padding:40px 10px 10px;
  margin:10px 0;
  color:#262626;
  text-align:left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

div#respond .atencionforo
{
  margin-bottom:10px;
}

div#respond .atencionforo a img
{
  display:block;
  margin:0 auto;
  text-align:center;
}

div#respond .atencionforo a
{
  padding:0px;
}

div#respond .atencionforo a:hover
{
  background: transparent;
}

div#respond div.rounded_corner_bottom
{
  padding:6px 8px 0;
}

div#respond div.contener
{
  padding-left:136px;
}

div#respond p
{
  margin:5px 0;
}






#contenido ul.functions
{
  list-style-type: none;
  color: #444444;
  margin:0 0 10px 0;
  display:block;
}

#contenido ul.functions li
{
  float: left;
  background: #f7f7f7;
  margin-bottom: 1px;
  padding: 10px;
}

#contenido ul.functions li .function
{
  clear: both;
  float: left;
  font-weight: bold;
  width: 150px;
}

#contenido ul.functions li .explained
{
  float: right;
  width: 585px;
  height: auto;
}


img.aligncenter {
  display: block;
  margin:0 auto;
}

div#post-ratings {
  margin:20px 0 10px;
}

div.post-ratings {
  background: url(images/votar_post.png) no-repeat 6px 10px;
  padding:20px 0 20px 273px;
}


div#recomendar {
padding:6px 10px;
}
div#recomendar a:hover,div#recomendar a{
background: none;
padding:0px;
}

#formrecomendar{
width: 285px;
margin: 0 auto;
padding:0 0 0 43px;
background: url(images/usu.png) no-repeat left center;
}

#formrecomendar label {
display:block;
font-size:12px;
padding-bottom:5px;
text-align:right;
}
#formrecomendar label em{
width:130px;
display:block;
float:left;
font-style: normal;
}
#formrecomendar input {
width:146px;
height:22px;
border:1px solid #aaaaaa;
padding:2px;
background:#ffffff url(images/inputBg.gif) top left no-repeat;
}

#formrecomendar input.submit {
width:auto;
height:auto;
border:1px solid #ccc;
float:right;
}

#formrecomendar h3{
margin:0 0 7px 0;
color:#00B0D8;
}

.syntaxhighlighter
{
  clear:left;
}

.post .language_item a
{
  height:42px;
  display:block;
  clear:left;
  margin-bottom:5px;
}

.post .language_item a span
{
  display:none;
}

.post .language_item a.lang-en
{
  background:#EDEDE1 url('images/english.png') no-repeat center center;
}

.post .language_item a.lang-es
{
  background:#EDEDE1 url('images/spanish.png') no-repeat center center;
}

.post .download
{
  background:#EEFFBD url('images/es/download.png') no-repeat 10px 5px;
  padding:20px;
  margin-bottom:10px;
  color:#000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.post .download p
{
  padding-top:30px;
}

.post .download form
{
  float:right;
  width:150px;
  display:inline;
  margin-left:20px;
}

.post .download form p
{
  padding-top:0px;
  margin-bottom:5px;
}

.post .compatibilidad
{
  background:#F5F5E8 url('images/es/compatibilidad.png') no-repeat 10px 5px;
  padding:50px 20px 0;
  margin-bottom:10px;
  color:#000;
  height:125px;
  clear:right;
  text-align:center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.post .compatibilidad .estampilla
{
  width:64px;
  height:64px;
  float:none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

.post .compatibilidad .desc
{
  font-size:10px;
  font-weight:bold;
  height:20px;
}


.post .paypal
{
  background:#EEFFBD url('images/es/comprar.png') no-repeat 10px 5px;
  padding:50px 20px 0px;
  margin:10px 0;
  height:160px;
  color:#000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.post .paypal .paypal-1,
.post .paypal .paypal-2
{
  background:#eaefad;
  width:248px;
  height:90px;
  float:left;
  display:inline;
  padding:20px;
  font-size:11px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.post .paypal .paypal-2
{
  float:right;
}

.post .paypal .paypal-1 a.buy
{
  background:transparent url('images/es/buttons.png') no-repeat left top;
  display:block;
  width:80px;
  height:29px;
  margin:0 auto;
}

.post .paypal .paypal-1 a.buy:hover
{
  background-position:left bottom;
}

.post .paypal .paypal-2 a.buy
{
  background:transparent url('images/es/buttons.png') no-repeat right top;
  display:block;
  width:93px;
  height:29px;
  margin:0 auto;
}

.post .paypal .paypal-2 a.buy:hover
{
  background-position:right bottom;
}


.donar
{
  padding:0 20px;
  position:relative;
  overflow:hidden;
}

.donar a
{
  background:none;
}

.donar #si
{
  padding:10px 10px 10px 50px;
  background:#EEFFBD url('images/smiley.png') no-repeat 5px 24px;
}

.donar #no
{
  padding:10px 10px 10px 50px;
  background:#EDEDE1 url('images/getdocument.png') no-repeat 5px center;
  margin-top:10px;
}

#ventanita-loading
{
  display:none;
  padding-top:100px;
  height:75px;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  background:#ffffff url('images/loader.gif') no-repeat center 25px;
  text-align:center;
  opacity:0.90;
  filter:alpha(opacity=90);
  overflow:hidden;
}

form#form_paypal 
{
  margin:10px 0 0;
  text-align:center;
}

form#form_paypal p
{
  text-align:left;
}


form#form_paypal input
{
  padding:3px;
  border:1px solid #ddd;
  background:#fefefe;
} 

form#form_paypal input#input_amount
{
  width:50px;
}

form#form_paypal .submit {
  cursor:pointer;
  border-style:outset;
} 
