#jcart * { margin:0; padding:0; font-family:arial, tahoma, verdana, sans-serif; font-size:13px;   }
#jcart, #jcart input, #jcart-tooltip { font-size:12px; color:#000; }

#jcart fieldset { border:0; }

#jcart table { width:100%; border:0; border-collapse:collapse; background:#CCC; color:#000; }
#jcart tr {  }
#jcart th, #jcart td { padding:3px; border:0; border:solid 4px #000000; vertical-align:middle; text-align:left; font-weight:normal; color:#FFF; }
#jcart td.empty { text-align:center; color:#000; }

#jcart p.jcart-error { text-align:center; padding:5px; }

#jcart strong#jcart-title {  }

#jcart th { background:#000000 }
#jcart th#header {  }
$jcart th#footer {  }

#jcart td.jcart-item-qty { width:15%; color:#fff;  }
#jcart td.jcart-item-name { width:50%; font-weight:bold; text-align:center; color:#000; }
#jcart td.jcart-item-price { width:25%; font-weight:bold; text-align:center; color:#000; }
#jcart td.jcart-item-price span { display:block; }

#jcart a.jcart-remove { font-size:11px; font-weight:normal; }

#jcart span#jcart-subtotal { display:block; }
#jcart span#jcart-subtotal strong {  }

#jcart input.jcart-button { padding:2px; margin:2px;}

#jcart input#jcart-checkout { float:right; color:#000; }

#jcart input#jcart-paypal-checkout { display:block; padding:10px; margin:20px auto; }

#jcart-tooltip { border:solid 1px #000; padding:3px 7px 3px 25px; background:url(checkmark.png) 3px center no-repeat #f2fcee;  }


