
body{

font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
margin:20px;
margin-top:50px;
background-image:url(fondo1.png); background-repeat:repeat-x;
}

h3{

font-size:12px;
font-weight:bold;

}

th{
font-weight:normal;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
border-bottom:1px solid #ccc;
}


input{
font-weight:normal;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
border:1px solid #222;
}

#promptDiv { 
  width:178px; 
  height:12px; 
  padding:0px;
  margin-top:4px;
  margin-bottom:4px;
  margin-left:8px;
  text-align:left;
  font-size:11px; color:#FFF;
 
  }

#buttonDiv { 
  text-align:center;
}

.fieldTitle {
  margin-bottom:3px;
  margin-left:8px;
  font-weight:bold;
  font-size:12px;
  color:#666666;
}

.fieldEntry {
  margin-left:8px;
  margin-bottom:8px;
}