.tabOn, .tabOff, .tabHover
{
	width:100px;
	height:20px;
	position:absolute;
	border:1px solid;
	border-bottom:none;
	cursor:pointer;
	text-align:center;
    color: blue;
}

.tabOn { z-index:2; background-color:#000000; }

.tabOff { z-index:0; background-color:white; }

.tabHover { background-color:#FFFFFF; }

#tab2 { left:200px; }

#tab3 { left:395px; }

#tab4 { left:1px; 
    width:0px;
    height:0px;

}

#tab5 { 
left:1px; 
    width:0px;
    height:0px;
 }

#tabContenido
{
	padding:10px;
	position:absolute;
	top:20px; left:0px;
	border:0px solid;
	width:800px;
	height:400px;
	z-index:1;
}

#demo { overflow:auto; height:500px; width:900px; position:relative; border:0px solid; }