body {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;	
	}

ul {
	
	align:center;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 190px; /* Width of Menu Items */
	border-bottom: 0;
	}

ul li {
	position: relative;
	}
	
li ul {
	position: relative;
	left: 0px; /* Set 1px less than menu width */
	top: 0;
	width: 190px;
	display: none;
	border: 1px solid #FFFFFF;
	
	}

/* Styles for Menu Items */
ul li a {
	align:center;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	background: #000066; /* IE6 Bug */
	padding: 8px;
	border: 1px solid #FFFFFF;
	border-bottom: 0;
	 font-weight: bold;
	 text-align: center;

	}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */


ul li a:hover { color: #FFFFFF; background: #3333CC; } /* Hover Styles 
*/
		
li ul li a { padding: 5px 15px; color: #FFFFFF; background: #FF0000;} /* Sub Menu Styles */
		
li:hover ul, li.over ul { display: block; } /* The magic */
