BODY  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	background-color : #000066;
color: #FFFFFF;
}

TD  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
}

INPUT  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
	font-weight: bold;
}

TEXTAREA  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
}

SELECT  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
	background-color : #FFFFFF;
	color: #000000;

}

.altn  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: #ffffff;
	background-color: #666666;
}

.tit  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: #ffffff;
	background-color: #333333;
	font-weight: bold;
}

.hoy {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	font-weight: bold;
	color: #174622;
	background-color: #F8C301;
}

.domingo {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: 00FF00
}

.diario {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: FFFFFF
}

.tform {
	border-width: 2px;
	border-color: 75263C;
	border-style: solid;
	font-weight: bold;
}