﻿/*For tooltip box*/
div#mcTooltip 
{
    line-height:20px;
    border-width: 2px;   
    color:#DDDDDD; 
    border-color:#666666;
    padding:20px;
    font-size: 12px;
    font-family: Verdana, Arial;
    border-radius:3px; /*Rounded corners. N/A for IE 8 and below.*/
}

div#mcTooltip, div.mcTooltipInner 
{
    background-color:#353c40;
}

/* For hyperlink within tooltip */
div#mcTooltip a { color:#6CF; }

/*The settings below should remain unchanged*/
div#mcTooltipWrapper {position:absolute;visibility:hidden;overflow:visible;z-index:9999999999;top:-2000px;}
div#mcTooltip {float:left;border-style:solid;position:relative;overflow:hidden;}
div.mcTooltipInner {float:left;position:relative;width:auto;height:auto;}
div#mcttCo {position:absolute;text-align:left;}
div#mcttCo em, div#mcttCo b {display:block; width:0; height:0;overflow:hidden;}
