body {
background:#F5F5E8  none repeat scroll 0 0;
color:#333333;
font-size:12px;
line-height:18px;
margin:20px;
padding:0;
}
body, h1, h2, p, a {
font-family:Verdana,Arial,Helvetica,sans-serif;
}
b,strong{
font-weight:bold;
color:#000;
}
#header {
border-bottom:1px dotted #000000;
margin:0 0 20px;
padding:20px 0;
}
#header h1 {
font-size:36px;
margin:0;
}
#headersss h1 {
font-size:15px;
margin:0;
}
#header h4 {
font-weight:normal;
margin:7px 0 0;
}
#header h4 a {
text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
}
h1, h2, h3 {
color:#00B0D8;
letter-spacing:-0.01em;
}
h4 {
font-size:1.2em;
font-weight:bold;
margin:5px 0;
}
h1 span {
color:#8FB325;
}
h3 {
color:#8FB325;
font-size:18px;
}
h2 {
border-bottom:1px solid #8DD6E2;
margin-top:30px;
padding-bottom:2px;
}
a {
color:#0075D9;
}
a.x:hover {
background:#0075D9 none repeat scroll 0 0;
color:white;
text-decoration:none;
}
a.x {
text-decoration:none;
}
a img {
border:0 none;
}
blockquote {
border:1px dotted #FFFFFF;
padding:5px;
}
h2 span {
float:right;
font-size:11px;
font-weight:bold;
letter-spacing:0;
line-height:20px;
}
pre {
padding:10px;
width:768px;
overflow:auto;
overflow-y: visible;
}
code {
padding:1px 3px;
}
code, pre {
background:#EEEEEE none repeat scroll 0 0;
color:#555555;
}
#top {
background:#FFFFFF none repeat scroll 0 0;
border-color:#EDEDE1;
border-style:solid;
border-width:25px 0;
color:#333333;
margin:0 auto;
padding:15px;
position:relative;
width:788px;
}
.thumb img {
background:#EEEEEE none repeat scroll 0 0;
border:1px solid #AAAAAA;
padding:5px;
}
.thumb:hover img {
border-color:#777777;
}
#toc {
background:#CCEAFF none repeat scroll 0 0;
border:1px solid #0075D9;
color:#333333;
float:right;
margin:0 0 40px 10px;
padding:0 10px;
width:250px;
}
#toc h2 {
border:0 none;
color:#336699;
margin:10px 0 5px;
}
#toc a {
color:#336699;
}
.hastoc {
margin-right:0;
}
.hastoc {
margin-right:0;
}
.b {
font-weight:bold;
}
.doc {
list-style-type:none;
margin-left:0;
padding-left:0;
}
.doc li {
margin:5px;
padding:5px;
}
.doc li h5 {
color:blue;
font-size:1.2em;
margin:0 0 5px;
}
h1 small, h2 small, h3 small, h4 small, h5 small {
color:#333333;
font-size:0.7em;
font-weight:bold;
}
.doc li dl {
margin:5px 0 0;
}
.doc li dt {
font-weight:bold;
position:absolute;
text-transform:lowercase;
}
.doc li dd {
margin-left:80px;
}
#header #login-form {
float:right;
padding-top:5px;
width:330px;
}
#menu {
margin:0 27px;
overflow:hidden;
}
* html #menu {
height:1%;
}
#menu ul, #menu li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
#menu li {
background:#00B0D8 no-repeat scroll 0 0;
float:left;
}
#menu li a {
background:#FFFFFF none repeat scroll 0 0;
display:block;
float:left;
padding:4px 12px;
text-decoration:none;
}
#menu li.current a, #menu li a:hover {
background:transparent no-repeat scroll right top;
color:#FFFFFF;
text-decoration:none;
}
.message {
background:#00B0D8 no-repeat scroll 0 0;
color:#FFFFFF;
font-size:1.3em;
line-height:1.4em;
margin:0 auto 20px;
position:relative;
width:788px;
}
.message p {
background:transparent no-repeat scroll 0 100%;
margin:0;
padding:20px;
}
.container {
-x-system-font:none;
background:white none repeat scroll 0 0;
border-bottom:1px solid black;
border-right:1px solid black;
color:#333333;
font-family:"Trebuchet MS",sans-serif;
font-size:1em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
height:100%;
line-height:1.6em;
padding:15px 15px 50px;
width:900px;
}
td {
font-size:11px;
line-height:1.65em;
}
td strong {
font-size:13px;
}
td h2 {
padding-bottom:10px;
}
.download-widget {
border:1px solid #CCCCCC;
position:relative;
width:100%;
}
.download-widget td, .download-widget th {
background:#EEEEEE none repeat scroll 0 0;
margin:1px;
padding:5px;
}
.download-widget th {
background:#E0E0E0 none repeat scroll 0 0;
font-weight:bold;
text-align:left;
}