/*
This file is NOT NECESSARY for the rater to work. None of these styles are needed.
This is only to style the demo page
*/


#container {
	width: 50%;
	border: 1px solid #ccc;
	padding: 20px;
	}


h2 {
	font-size: 16px;
	color: #333;
	font-family: Arial, sans-serif;
	margin:0 0 10px 0;
	padding:0;
	}

p 	{
	margin:0px;
	padding:0;
	}
