/* 
Written by Joe Abi Raad
http://joeabiraad.com
joe.abiraad@gmail.com

Happy Coding :D
 */
body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
margin:20px;
margin-top:50px;
}
h3{
font-size:12px;
font-weight:bold;
}
th{
font-weight:normal;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
border-bottom:1px solid #ccc;
}
td{
font-weight:normal;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
border-bottom:1px solid #ccc;
}
input{
font-weight:normal;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
border:1px solid #222;
}
#logindiv { 
  width:360px; 
  height:220px; 
  padding:24px; 
  background:#ecfdce; 
  border:1px solid #ccc;
  margin:auto;
}

#loginform {
  width:300px;
  height:200px;
  margin:auto;
}

#promptDiv { 
  width:278px; 
  height:48px; 
  padding:10px;
  margin-bottom:16px;
  background:#ffffff;
  text-align:left;
  font-size:11px;
  
  color:#666666;
  border:1px solid #222;
}

#buttonDiv { 
  text-align:center;
}
.fieldTitle {
  margin-bottom:3px;
  font-weight:bold;
  color:#666666;
}
.fieldEntry {
  margin-bottom:8px;
}